<header class="header">
  <div class="header-container" *ngIf="isLogged; else unauthorized">
        <a class="header-logo" routerLink="/home">
          <img src="../../../../assets/img/header/header-logo.svg" alt="Logo" />
          <h1 class="header-logo__text">IT-House</h1>
        </a>
    <nav>
      <ul class="header-nav">
        <li><a class="header-nav__link" routerLink="/posts">Новости</a></li>
        <li><a class="header-nav__link" routerLink="/events">Мероприятия</a></li>
        <li><a class="header-nav__link" routerLink="/support">Обратная связь</a></li>
        <li><a class="header-nav__link" routerLink="/profile">Профиль</a></li>
      </ul>
    </nav>
  </div>
</header>

<ng-template #unauthorized>
    <div class="header-container">
      <a class="header-logo" routerLink="/home">
        <img src="../../../../assets/img/header/header-logo.svg" alt="Logo" />
        <h1 class="header-logo__text">IT-House</h1>
      </a>
      <nav>
        <ul class="header-nav">
          <li><a class="header-nav__link" routerLink="/posts">Новости</a></li>
          <li><a class="header-nav__link" routerLink="/events">Мероприятия</a></li>
            <li><a class="header-nav__link" routerLink="/auth">Станица авторизации</a></li>
        </ul>
      </nav>
    </div>
</ng-template>

