.header {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    background-color: #0e5ea8;
    border-bottom: 1px solid #ffffff;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  &-logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    &__text {
      font-size: 36px;
      font-weight: 600;
      color: #fff;
      margin-left: 10px;
    }
  }

  &-nav {
    list-style: none;
    display: flex;
    align-items: center;

    &__link {
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      margin: 0 0 0 30px;

      &:hover {
        color: #7abfff;
        cursor: pointer;
      }
    }
  }

  &-wrapper {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header {
    &-container {
      padding: 10px 30px;
    }

    &-logo {
      &__text {
        display: none;
      }
    }

    &-nav {
      &__link {
        margin: 0 0 0 10px;
      }
    }
  }
}
