<title>Добро пожаловать</title>
<section class="auth">
  <div class="auth-container">
    <div class="auth-wrapper">
      <h1 class="auth__title">Добро пожаловать в IT-House!</h1>
      <p class="auth__subtitle">
        Авторизируйтесь чтобы получить полный спектр возможностей и начать следить за развитием нашей идеи.
      </p>
      <div class="auth-buttons">
        <button class="auth__button-login" routerLink="signin">Авторизация</button>
        <button class="auth__button-registration" routerLink="signup">Регистрация</button>
      </div>
    </div>
  </div>
</section>
