<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <img src="../../../assets/img/header/header-logo.svg" alt="Logo">
            <h1 class="header-logo__text">IT-House</h1>
        </div>
        <nav>
            <ul class="header-nav">
                <li><a class="header-nav__link" routerLink="/posts">Новости</a></li>
                <li><a class="header-nav__link" routerLink="">Мероприятия</a></li>
                <li><a class="header-nav__link" routerLink="">Поддержка</a></li>
                <li><a class="header-nav__link" routerLink="">Обратная связь</a></li>
                <li><a class="header-nav__link" routerLink="">Профиль</a></li>
            </ul>
        </nav>
    </div>
</header>
