<header class="header">
    <div class="header-container">
        <div class="header-logo">
            <img src="../../../assets/img/home/header-logo.svg" alt="Logo">
            <h1 class="header-logo__text">IT-House</h1>
        </div>
        <nav>
            <ul class="header__nav">
                <li class="header__link">Новости</li>
                <li class="header__link">Мероприятия</li>
                <li class="header__link">Поддержка</li>
                <li class="header__link">Обратная связь</li>
                <li class="header__link">Профиль</li>
            </ul>
        </nav>
    </div>
</header>
