<header class="header">
  <div class="header-container">
        <a class="header-logo" routerLink="/home">
          <img src="../../../assets/img/header/header-logo.svg" alt="Logo" />
          <h1 class="header-logo__text">IT-House</h1>
        </a>
    <nav>
      <ul class="header-nav">
        <li><a class="header-nav__link" routerLink="/posts">Новости</a></li>
        <li><a class="header-nav__link" routerLink="">Мероприятия</a></li>
        <li><a class="header-nav__link" routerLink="">Поддержка</a></li>
        <li><a class="header-nav__link" routerLink="">Обратная связь</a></li>
        <li><a class="header-nav__link" routerLink="/auth">Профиль</a></li>
      </ul>
    </nav>
  </div>
</header>
