<div class="login-container">
  <h1 class="login__title">Авторизация</h1>
  <p class="login__subtitle">
    Войдите в свой аккаунт, чтобы пользоваться <br />всеми возможностями нашего
    сайта.
  </p>

  <form class="login-form">
    <label for="email">Email</label>
    <input
      id="email"
      class="login-form__email"
      type="email"
      placeholder="example@cock.ru"
    />

    <label for="password">Пароль</label>
    <input
      id="password"
      class="login-form__password"
      type="password"
      placeholder="💻-password"
    />
    <div class="login-form__wrapper">
      <button class="login-form__button" type="submit">Войти</button>
      <p class="login-form__link">
        Вы здесь впервые?
        <a routerLink="../signup">
          Зарегестрируйтесь и продолжите знакомство с нами.
        </a>
      </p>
    </div>
  </form>
</div>
