.hero {
  position: relative;
  background: url(../../../assets/img/home/hero/hero-background.jpg) center
    no-repeat;
  background-size: cover;
  margin-top: 70px;
  padding: 110px 0;
  z-index: -1;

  &::after {
    content: "";
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(53, 53, 53, 0.3);
    z-index: -2;
  }

  &-container {
    display: flex;
    justify-content: center;
  }

  &__title {
    max-width: 735px;
    font-size: 72px;
    font-weight: 500;
    color: #fff;
    text-align: right;
  }

  &__special {
    color: #0e5ea8;
  }
}

.info {
  padding: 30px;

  &-container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 64px;
    font-weight: 500;
    color: #0e5ea8;
  }

  &__description {
    max-width: 950px;
    font-size: 28px;
    font-weight: 300;
    color: #0e5ea8;
    text-align: justify;
    margin-top: 10px;
  }
}

.features {
  background-color: rgba(14, 94, 168, 0.7);

  &-container {
    padding: 20px 0;
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }

  &-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
  }

  &__name {
    max-width: 172px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #0e5ea8;
    margin-bottom: 40px;
  }
}

.media {
  background: url(../../../assets/img/home/media/media-background.jpg) center
    no-repeat;
  background-size: cover;
  padding: 40px 0 80px;

  &-container {
    display: flex;
    justify-content: space-around;
  }

  &-info {
    &__title {
      font-size: 36px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 30px;
    }

    &__description {
      max-width: 430px;
      font-size: 33px;
      font-weight: 300;
      color: #fff;
      text-align: justify;
      margin-bottom: 70px;
    }

    &__button {
      font-family: "Fira Sans Extra Condensed";
      font-size: 32px;
      font-weight: 600;
      color: #fff;
      background-color: #0e5ea8;
      border: none;
      border-radius: 6px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 35px 100px;

      &:hover {
        color: #0e5ea8;
        background-color: #7abfff;
      }
    }
  }
}
