<section class="hero">
    <div class="hero-container">
        <h1 class="hero__title">
            С чем не справится <span class="hero__special">один</span> - справится <span class="hero__special">команда</span>!
        </h1>
    </div>
</section>

<section class="info">
    <div class="info-container">
        <div class="info-details">
            <h2 class="info__title">Что такое IT-House?</h2>
            <p class="info__description">
                Это постоянная площадка для реализации различных  проектов в сфере IT. 
                Наша компания создана, чтобы помочь молодым специалистам показать себя 
                и воплотить в жизнь их идеи. Основываясь на вашем опыте мы будем организовывать 
                события, на которых вы и ваша команда способны создать свой личный проект, либо вступить в наши ряды и 
                работать над внутренними проектами компании.
            </p>
        </div>
        <div class="info-logo">
            <img src="../../../assets/img/home/info/info-logo.svg" alt="Info Logo">
        </div>
    </div>
</section>

<section class="features">
    <div class="features-container">
        <h2 class="features__title">Что мы можем предложить?</h2>
        <div class="features-cards">
            <div class="features__card">
                <p class="features__name">Коллектив профессионалов</p>
                <img src="../../../assets/img/home/features/Group.svg" alt="Feature">
            </div>
            <div class="features__card">
                <p class="features__name">Лицензионные программы</p>
                <img src="../../../assets/img/home/features/License.svg" alt="Feature">
            </div>
            <div class="features__card">
                <p class="features__name">Внутреннее обучение</p>
                <img src="../../../assets/img/home/features/Studying.svg" alt="Feature">
            </div>
            <div class="features__card">
                <p class="features__name">Помощь с финансированием</p>
                <img src="../../../assets/img/home/features/Finanse.svg" alt="Feature">
            </div>
        </div>
    </div>
</section>
