.support {
  &-form {
    &__input {
      font-size: 20px;
      font-weight: 400;
      color: #0e5ea8;
      border: 1px solid #0e5ea8;
      border-radius: 3px;
      margin-bottom: 10px;
    }
  }
}
