/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300;400;500;600&display=swap");

body {
  font-family: "Fira Sans Extra Condensed", serif;
  margin: 0;
  padding: 0;
  h1,
  h2,
  h3,
  p,
  nav,
  li,
  ul {
    margin: 0;
    padding: 0;
  }

  button, input, input::placeholder, select, textarea, option, -webkit-file-upload-button{
    font-family: "Fira Sans Extra Condensed", serif;
    cursor: pointer;
  }
}
